<!DOCTYPE html>
<html lang="en">
  <head th:replace="~{head :: head('Cadastro de Transações')}"> </head>
  <body class="container bg-dark text-white">
    <div th:replace="~{transaction :: transaction('New Transaction')}"></div>
    <div class="row">
      <div class="col-12">
        <form
          th:object="${formTransaction}"
          class="form-group d-flex flex-column align-items-center"
          th:action="@{/transactions/cadastro}"
          method="POST"
        >
          <label class="form-label" for="adress">Endereço</label>
          <input
            class="form-control"
            id="adress"
            th:field="*{adress}"
            placeholder="Digite o endereço da transação"
            th:errorclass="is-invalid"
          />
          <div class="invalid-feedback" th:errors="*{adress}"></div>
          <label class="form-label" for="value">Value</label>
          <input
            class="form-control"
            id="value"
            th:field="*{value}"
            placeholder="Digite o valor da transação"
            th:errorclass="is-invalid"
          />
          <label class="form-label" for="userId">Description</label>
          <textarea class="form-control" th:field="*{description}"></textarea>
          <div class="invalid-feedback" th:errors="*{description}"></div>
          <div class="invalid-feedback" th:errors="*{value}"></div>
          <button type="submit" class="btn btn-primary mt-2">Enviar</button>
        </form>
      </div>
    </div>
  </body>
</html>
