<!DOCTYPE html>
<html lang="en">
  <head th:replace="~{head::head('Formulário de Delete')}"></head>
  <body class="bg-dark text-white">
    <div class="container">
      <form
        class="form-group"
        th:action="@{/transactions/delete}"
        method="POST"
        th:object="${deleteTransactionForm}"
      >
        <label class="form-control" for="Adress">Adress</label>
        <input
          id="Adress"
          class="form-control"
          th:placeholder="${transaction.adress}"
          readonly
        />
        <label class="form-control" for="Date">Date</label>
        <input
          id="Date"
          class="form-control"
          th:placeholder="${transaction.date}"
          readonly
        />
        <label class="form-control" for="user">Usuario</label>
        <input
          id="user"
          class="form-control"
          th:placeholder="${user.name}"
          readonly
        />
        <label class="form-control" for="Value">Value</label>
        <input
          id="Value"
          class="form-control"
          th:placeholder="${transaction.value}"
          readonly
        />
        <input type="hidden" th:field="*{id}" readonly />
        <button type="submit" class="btn btn-danger">Excluir</button>
      </form>
    </div>
  </body>
</html>
